*{
    padding: 0;
    margin: 0;
}

.header{
    border: 1px solid black;
    height:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(imagestravel/travel1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}