*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


.header{
    border: 1px solid black;
    height:100vh;
    background-image: url(imagestravel/travel1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    text-align: left;
}